.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: var(--gray-800);
    border-radius: 12px;
    padding: 30px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.title {
    margin-bottom: 20px;
    font-size: var(--heading-sm);
    color: var(--gray-100);
}

@media (max-width: 800px) {
    .list {
        flex-direction: column;
        align-items: center;
    }
}