.wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

@media (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
}