.history_content {
    background-color: var(--gray-800);
    border-radius: 12px;
    padding: 30px;
}

.history_title {
    margin-bottom: 20px;
    font-size: var(--heading-sm);
    color: var(--gray-100);
}