.filter_wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.history_content {
    background-color: var(--gray-800);
    border-radius: 12px;
    padding: 30px;
}

.history_title {
    margin-bottom: 20px;
    font-size: var(--heading-sm);
    color: var(--gray-100);
}

@media (max-width: 600px) {
    .filter_wrapper {
        flex-direction:column-reverse;
    }
}