* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
iframe {
    max-width: 100%;
    height: auto;
}

header,
footer,
section,
article {
    margin: 0;
}

html {
    font-family: var(--ff-primary);
    font-size: var(--text-md);
    line-height: 1.4;
}

body {
    background-color: var(--gray-900);
}